NODE_ENV=production
PORT=4000
DATABASE_URL=
JWT_SECRET=
AI_API_KEY=
AI_API_KEY2=
AI_ENDPOINT=
SPOTIFY_CLIENT_ID= 
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
FRONTEND_URL=
TURNSTILE_SECRET_KEY=
GOOGLE_CLIENT_ID=
EMAIL_USER=
RESEND_API_KEY=
TEST_MAIL=