@import 'tailwindcss';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

@theme {
  --color-primary-light: #fbcfe8;
  --color-primary-main: #ec4899;
  --color-primary-dark: #be185d;
  --color-neutral-bg: #fff5f7;
  --color-neutral-text: #1f2937;
  --color-neutral-muted: #4b5563;
  --color-border: #f472b6;
}
